<link rel="stylesheet" href="../../CSS/index.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
<body>
<div id="contenedor">
  <div id="header">
    <div id="header__menu">
      <div class="menu__item logo">
        <img src="IMG/LogoQuitus.jpeg" alt="" />
      </div>
      <div class="menu__item titulo">
        Quitus Ride-Bike
      </div>
      <div class="menu__item menu__sesion">
        <img class="sesion" src="/IMG/usuario.png" alt="">
        <ul>
          <li><a href="/login">Iniciar sesion</a></li>
          <li><a href="/registro">Registrate</a></li>
        </ul>
      </div>

    </div>
  </div>
  <div id="main">
    <div id="sectionImage">
      <img src="/IMG/LogoQuitus.jpeg" alt="">
    </div>
  </div>
  <div id="footer">
    <div id="footer__content">
      <p>footer</p>
    </div>
  </div>
</div>
</body>