<link rel="stylesheet" href="">
<div id="contenedor">
    <form action="/bicicleta/inicio" method="GET">
    <h1>Registro de bicicletas</h1>
        <div>
            <input type="text" name="username" id="">
        </div>
        <div>
            <input type="text" name="password" id="">
        </div>
        <div>
            <button type="submit">Ingresar</button>
        </div>
    </form>
</div>