<link rel="stylesheet" href="../../CSS/login.css" />
<div id="contenedor">
    <form action="/login" method="POST">
        <div>
            <input type="text" name="username" id="">
        </div>
        <div>
            <input type="text" name="password" id="">
        </div>
        <div>
            <button type="submit">Ingresar</button>
        </div>
    </form>
</div>