<link rel="stylesheet" href="/CSS/registro">
<div class="nombre_Quitus">
    <h1>Crea tu cuenta</h1>
    <p>¡Y vamos a Ciclear!</p>
</div>
    <div class="indicaciones_Registro">
        <p>Ingresa datos reales<br> 
        Los datos con * son obligatorios</p>
    </div>

<div id="contenedor">
    <form action="/registro" method="POST">
        <div>
            <div>
                <input type="text" name="nombreCompleto_cliente" id="" placeholder="Ingresa tus dos nombres y dos apellidos">
            </div>
            <div>
                <input type="text" name="username" id="" placeholder="Ingresa como quieres ser llamado">
            </div>
            <div>
                <input type="text" name="celular_cliente" id="" placeholder="Número Celular">
            </div>
            <div>
                <input type="text" name="correo_cliente" id="" placeholder="Correo Electrónico">
            </div>
        </div>
        <div class="Registro_Identificacion">
             <p>Si eres de Ecuador selecciona cédula,<br> 
             caso contrario escoge pasaporte.</p>

             <select name="">
                 <option value="Cedula">Cédula</option>
                 <option value="Pasaporte">Pasaporte</option>
                 <option value="noc" selected hidden>Identificación</option>
             </select>
             <div>
                <input type="text" name="identificacion_cliente" id="" placeholder="Cédula">
            </div>
        </div>

        <div>
            <div>
                <input type="text" name="password" id="" placeholder="Contraseña">
            </div>
            <div>
                <input type="text" name="" id="" placeholder="Confirmar Contraseña">
            </div>
        </div>

        <div class="Registro_nacimiento">
             <p>*¿Cuándo Naciste?</p>
             <input type="text" name="fechaNacimiento_cliente" placeholder="00/00/0000">
        </div>

        <div class="Registro_foto">
             <p>Sube tu foto</p>
             <button>
                <img src="/IMG/usuario.png" alt="">
                <input type="file" name="foto_cliente">
             </button>
        </div>

        <div class="Registro_ubicacion">
             <h1>¿Dónde Vives?</h1>
             <input type="text" name="pais_ubicacionCliente" id="pais_ubicacionCliente" placeholder="País">
             <input type="text" name="ciudad_ubicacionCliente" id="" placeholder="Ciudad">
             <input type="text" name="barrio_cliente" id="" placeholder="Barrio">
        </div>

        <div class="Registro_disciplina">
             <p>¿Qué tipo de ciclismo vas a practicar?</p>
             <select name="">
                 <option value="disciplina1">BMX</option>
                 <option value="disciplina1">disciplina2</option>
                 <option value="noc" selected hidden>Disciplina</option>
             </select>
        </div>

         <div>
             <button type="submit" onclick="">Registrarme</button>
         </div>
         <div>
            <a href="/login">Regresar al login</a> 
         </div>

         <div>
            <input type="checkbox" name="" id="" placeholder="*Acepto los términos de uso y la Política de privacidad de Quitus RideBike">
         </div>
    </form>
</div>


<!-- Selección fecha de nacimiento
                 <ol name="">
                 <option value="dia">Cédula</option>
                 <option value="mes">Pasaporte</option>
                 <option value="año" selected hidden>Identificación</option>
             </ol>
-->