<link rel="stylesheet" href="">
<div id="contenedor">
    <form action="/registro" method="POST">
        <div>
            <input type="text" name="username" id="" placeholder="Ingrese su nombre de usuario">
        </div>
        <div>
            <input type="text" name="password" id="" placeholder="Ingrese su contraseña">
        </div>
        <div>
            <input type="text" name="nombreCompleto_cliente" id="" placeholder="Ingrese su nombre completo">
        </div>
        <div>
            <input type="text" name="correo_cliente" id="" placeholder="Ingrese su correo">
        </div>
        <div>
            <button type="submit">Guardar</button>
        </div>
    </form>
</div>