 <link rel="stylesheet" href="/CSS/footer.css" />
 {{#if user}}

 <!-- footer -->
    <div class="container-fluid text-center text-white bg-dark p-3 ">
        <p class="small ">&copy; Todos los Derechos Reservados | QUITUS-RIDEBIKE | 2022</p>
    </div>
    {{/if}}