<link rel="stylesheet" href="/CSS/header.css" />
{{#if user}}
<!--HEADER-->
<nav class="slidebar" id="slide">
  <div class="header-contenedor__logo">
    <div class="slide-logo">
      <img class="slide" src="/IMG/cerrarmenu.png" alt="cerrarmenu" onclick="cerrarSlide()" />
      <img class="logo" src="/IMG/logoQuitus.jpeg" alt="" />
    </div>
  </div>
  <hr style="background-color: white;">
  <ul>
    <li class="nav-list"><a href="/bicicleta/listar/{{user.id_cliente}}">Bicicletas</a></li>
    <li class="nav-list"><a href="/grupos/listar/{{user.id_cliente}}">Grupos de ciclismo</a></li>
    <li class="nav-list"><a href="#">Consejos ciclistas</a></li>
  </ul>
</nav>
<header class="header" id="header">
  <div class="header-contenedor" id="header-contenedor">
    <div class="">
      <img class="slide" src="/IMG/menu.png" alt="" id="slidemenu" onclick="desplegarSlide()" />
        <img class="logo logo-small" src="/IMG/logoQuitus.jpeg" alt="cerrarmenu" onclick="cerrarSlide()" />
        </div>
    <div class="header-contenedor__titulo">
      <h5><a href="/inicio" class="titulo"> QUITUS RIDE-BIKE</a></h5>
    </div>
    <div class="header-contenedor__menu">
      <img class="menu" src="/IMG/usuario.png" alt="" onclick="desplegarMenu()" ondblclick=""/>
    </div>
    <div class="header__menu" id="header-menu">
      <ul class="lis">
        <img class="slide slide--menu" src="/IMG/cerrarmenu.png" alt="" onclick="cerrarMenu()" >
        <li><a href="/perfil_editar/{{user.id_cliente}}">Perfil</a></li>
        <li><a href="/cerrarsesion">Cerrar Sesion</a></li>
      </ul>
    </div>

  </div>
  </div>
</header>
{{/if}}