<link rel="stylesheet" href="/CSS/categorias.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
<body>
<!-- efecto de imaganes-->
    <br>
    <br>
    <section class="container">
        <div class="contenedor">

            <br>
            <div class="galeria-port ">
                <div class="imagen-port ">
                    <img src="/img/group1.png" alt=" ">
                    <div class="hover-galeria ">
                        <a href="/grupos/listar/{{user.id_cliente}}"><img src="/IMG/logo.jpeg" alt=" "></a>
                        <p>GRUPOS-QUITUS</p>
                    </div>
                </div>
                <div class="imagen-port ">
                    <img src="/img/group2.png" alt=" ">
                    <div class="hover-galeria ">
                        <a href="/bicicleta/inicio"><img src="/img/logo.jpeg" alt=" "></a>
                        <p>BICICLETAS-QUITUS</p>
                    </div>
                </div>
                <div class="imagen-port ">
                    <img src="/img/group3.png" alt=" ">
                    <div class="hover-galeria ">
                        <a href=""><img src="/img/logo.jpeg" alt=" "></a>
                        <p>CONSEJOS-QUITUS</p>
                    </div>
                </div>

                <br>
            </div>
        </div>
    </section>
</body>
