<link rel="stylesheet" href="">
<form action="/registro" action="post">
    <div id="contenedor">
        <div id="titulo">
            <p>Registro </p>
        </div>
        <div id="">
            <label for="">Usuario</label>
            <input type="text" name="username" id="">
        </div>
        <div> 
            <label for="" >Contraseña</label>
            <input type="text" name="password" id="">
        </div>
        <div>
            <button>Guardar</button>
        </div>
    </div>
</form>