<form action="/" method="get" class="index-contenedor">
    <div class="contenedor contenedor-text">
        <div class="contenedor__titulo">
            <h2>Pagina administrador</h2>
        </div>
        <div class="contenedor__input">
            <label for="validar">Ingrese se nombre de usuario</label>
            <input type="text" name="validar" id="validar" required>
        </div>
        <div class="contenedor__boton">
            <div>
                <button type="submit" class="boton">Continuar</button>
            </div>
        </div>
    </div>
    <div class="contenedor-img">
        <img class="img-logo" src="img/administrador.jpg" alt="">
    </div>
</form>