#mensaje {
  position: absolute;
  top: 80px;
  left: 50px;
}
.alert{
  background-color: black;
  color: white;
  border: 2px solid rgb(194, 108, 55);
  height: 70px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

}
